/* start hero_section */
.hero {
    background-color: var(--card-bg-02);
    padding: 15px 0;
}
.hero_content {
    padding: 45px 0;
}
.hero_content h2 {
    color: var(--primary-color);
    text-transform: capitalize;
    margin: 20px 0 !important;
}
.hero_content p {
    color: var(--primary-color);
}
.hero_content .hero_subtitle {
    font-weight: 600;
    text-transform: capitalize;
}
.hero_content .buy_btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}
.hero_content .buy_btn:hover {
    box-shadow: none !important;
}
.hero_content .buy_btn a {
    color: var(--card-bg-01);
}
.hero_img {
    width: 100%;
    height: 100%;
}
.hero_img img {
    width: 100%;
    height: 100%;
}
/* resposeve media queries */
@media (max-width:767px) {
    .hero_img img {
        width: 90%;
        height: 90%;
    }
}
/* end hero_section */



/* start services_section */
.services_section {
    margin: 50px 0;
}
.service_item {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
}
.service_item .i {
    font-size: 25px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    padding: 10px;
}
.service_item h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary-color);
}
.service_item p {
    line-height: 15px;
    margin-top: 5px !important;
}
/* resposeve media queries */
@media (max-width:991px) {
    .col_service {
        margin: 20px 0;
    }
}
/* end services_section */


/* start TrendingProducts_section */
.TrendingProducts_section {
    margin: 100px 0;
}
/* end TrendingProducts_section */


/* start bestSales_section */
.bestSales_section {
    margin: 100px 0;
}
/* end bestSales_section */