/* start heroShop_section */
.heroShop_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.heroShop_section img {
    width: 100%;
    height: 55vh;
}
.heroShop_section .subTitle {
    position: absolute;
    text-transform: capitalize;
    color: var(--card-bg-02) !important;
}
/* resposeve media queries */
@media (max-width: 400px) {
    .heroShop_section .subTitle {
        font-size: 20px;
    }
}
/* end heroShop_section */


/* start FilterSearch_section */
.FilterSearch_section {
    margin-bottom: 100px;
}

.FilterSearch_section .filter_widget select {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--card-bg-02);
    text-transform: capitalize;
    cursor: pointer;
}
.FilterSearch_section .filter_widget select:focus {
    outline: none !important;
}
.FilterSearch_section .search_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 5px 20px;
}
.FilterSearch_section .search_box input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
}
.FilterSearch_section .search_box span {
    color: var(--primary-color);
}

/* resposeve media queries */
@media (max-width:767px) {
    .FilterSearch_section .filter_widget {
        margin-bottom: 10px;
    }
}
/* end FilterSearch_section */


/* start ProductCardShop_section */
.ProductCardShop_section {
    margin-bottom: 50px;
}
/* end ProductCardShop_section */